html {
    font-size: 4vmin;
}

h1 {
  font-size: 8vmin;
  background-image: url("gif2.gif");
  text-align: center;
  text-shadow: 0.1rem 0.2rem 0.2rem rgb(172, 172, 52);
  border: 2px solid white;
  margin: 3vw;
}

.menu-bar {
  display: flex;
  justify-content: center;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_960_720.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
a:link {
  color: yellow;
  text-decoration: none;
}
a:visited {
  color: rgb(36, 247, 36);
  text-decoration: none;
}
a:hover {
  color: violet;
  text-decoration: none;
}

p {
  font-family: "KoHo", sans-serif;
  font-size: 4vmin;
  border-style: groove;
  border-width: 0.5rem 0.2rem 0.3rem 0.2rem;
  border-color: cyan;
  border-radius: 0.5rem;
  padding: 0.5rem;
  word-spacing: 0.1rem;
  margin: 3vw;
  /* font-variant: small-caps; */
  text-align: center;
  background-color: rgb(15, 247, 231, 0.3);
  box-shadow: 1vw 2vh rgba(1,1,1, 0.4);
  /* word-wrap: break-word; */
}
#ul1 {
  list-style-type: none;
}
#family-photo {
  width: 70vw;
  height: 40vw;
  /* visibility: hidden; */
}
img {
  
  transition-duration: 0.5s;
  margin-left: auto;
  margin-right: auto;
  border: 1vw ridge yellow;
}
img:hover {
  border: 1vw ridge white;
}

.menu-items {
  padding-right: 5vw;
  padding-left: 5vw;
  margin-right: 1vw;
  border: 2px solid white;
  background-color:black;
  font-size: 4vmin;
  color: white;
}

.menu-item-active {
  padding-right: 5vw;
  padding-left: 5vw;
  margin-right: 1vw;
  border: 2px solid white;
  background-color:cyan;
  color: black;
  font-size: 4vmin;
}

.menu-items:hover {
  background-color:yellow;
  color: black;
}

.logo {
  width: 5vw;
  border: none;
  padding: 3vw;
}

.logo:hover {
    width: 5vw;
  border: none;
  background-color: rgba(238, 232, 232, 0.4)
}