body {
  background-image: url("https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif");
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
a:link {
  color: cyan;
}
a:visited{
    color: yellow;
}
a:hover {
    color: violet;
  }


p {
  font-size: 23px;
  border-style: groove;
  border-width: 20px 10px 15px 10px;
  border-color: cyan;
  border-radius: 10px;
  padding: 20px;
  word-spacing: 10px;
  margin: 50px;
}
.headings {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 15px 5px orange;
}
